<!DOCTYPE html>
<html lang="en">

<head>
    <title>Music Pro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/img/apple-icon.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">

    <!-- Enlace al archivo CSS de Owl Carousel -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
    <!-- Enlace al archivo JS de Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

    <!-- íconos de bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">


    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.min.css') }}">
</head>


<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@musicpro.cl</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->

<!-- header con bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="{{ url_for('static', filename='assets/img/music_pro.png') }}" alt="Music Pro" width="80" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Audio</a></li>
                        <li><a class="dropdown-item" href="#">Guitarras</a></li>
                        <li><a class="dropdown-item" href="#">Bajos</a></li>
                        <li><a class="dropdown-item" href="#">Baterías y percusión</a></li>
                        <li><a class="dropdown-item" href="#">Pianos y teclados</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sucursales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop">Tienda</a>
                </li>
            </ul>
            <form class="d-flex ms-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>


<!-- carrusel con bootstrap-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='assets/img/banner_1.jpg') }}" class="d-block w-100" alt="..." height="450" width="600">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='assets/img/banner_2.jpg') }}" class="d-block w-100" alt="..." height="450" width="600">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='assets/img/banner_3.jpg') }}" class="d-block w-100" alt="..." height="450" width="600">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- banner carrusel -->
    <div id="banner-carousel" class="owl-carousel">
        <div class="item">
            <div class="icon">
                <!-- <i class="bi bi-credit-card"></i>
                <i class="fas fa-credit-card"></i> -->
                <i class="fab fa-cc-visa"></i>
            </div>
            <h2 class="lead">Cuotas sin interés</h2>
        </div>
        <div class="item">
            <div class="icon">
                <!--<i class="bi bi-truck"></i>-->
                <i class="fas fa-truck s"></i>
            </div>
            <h2 class="lead">Envíos a todo Chile</h2>
        </div>
        <div class="item">
            <div class="icon">
                <!--<i class="bi bi-tag"></i>-->
                <i class="fas fa-tag s"></i>
            </div>
            <h2 class="lead">Descuentos especiales</h2>
        </div>
    </div>

    <!-- Sección "Lo más visto" -->
    <section class="container py-4">
        <div class="row text-center pt-3">
            <div class="col-lg-8 mx-auto">
                <h1 class="h1 text-center mb-4">Lo más visto</h1>
                <p class="lead1 text-center">
                    Descubre los productos más populares y admirados por nuestros clientes. 
                    Explora nuestra selección y encuentra los artículos que están capturando 
                    la atención de los amantes de la música en todo momento
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5">
                <a href="#"><img src="{{ url_for('static', filename='assets/img/guitarra.jpg') }}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3 lead">Guitarras</h5>
                <p class="text-center"><a class="btn btn-success">Ir a Tienda</a></p>
            </div>
            <div class="col-12 col-md-4 p-5">
                <a href="#"><img src="{{ url_for('static', filename='assets/img/uke.jpg') }}" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3 lead">Ukeleles</h2>
                <p class="text-center"><a class="btn btn-success">Ir a Tienda</a></p>
            </div>
            <div class="col-12 col-md-4 p-5">
                <a href="#"><img src="{{ url_for('static', filename='assets/img/accesorios.jpg') }}" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3 lead">Accesorios</h2>
                <p class="text-center"><a class="btn btn-success">Ir a Tienda</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-dark">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-8 m-auto">
                    <h1 class="h1 text-light aa">Destacados</h1>
                    <p class="text-light lead1 aa" style="font-size: 20px;">
                        Explora nuestra selección de productos destacados y 
                        sumérgete en el mundo de la música con estilo y calidad incomparables
                    </p>
                </div>
            </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{{ url_for('static', filename='assets/img/prod1.jpg') }}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$240.00</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Fender Stratocaster Player</a>
                        <p class="card-text">
                            El inspirador sonido de una Stratocaster es uno de los fundamentos de Fender. Con su sonido clásico caracterizado 
                            por agudos claros y vibrantes, medios contundentes y graves robustos, combinado con una articulación cristalina, 
                            la versátil Player Stratocaster HSS está repleta de auténtico estilo y sensación Fender.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="{{ url_for('static', filename='assets/img/piano.jpg') }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$480.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Piano digital Casio AP-270 - 88 teclas</a>
                            <p class="card-text">
                                Nuevo modelo con polifonía aumentada, panel rediseñado y nuevos sonidos. 
                                Piano digital de mueble de 88 teclas contrapesadas con tacto marfil y ébano.
                            </p>
                            <p class="text-muted">Reviews (48)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="{{ url_for('static', filename='assets/img/bateria.jpg') }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$360.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Batería Electrónica Avatar</a>
                            <p class="card-text">
                                La A71 es una de las baterías electrónicas top de línea de Avatar dando un paso más allá en estos instrumentos electrónicos, 
                                que se ve y se siente como una batería acústica real. Junto con la mejor calidad de sonido, el cuerpo de cada parte de la 
                                batería es sorprendentemente hermoso.
                            </p>
                            <p class="text-muted">Reviews (74)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name 
                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
</body>

</html>
