<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar producto</title>
</head>
<body>

    <form id="actualizarProducto">
        <label for="nombreProducto">Nombre del producto:</label>
        <input type="text" name="nombreProducto" id="nombreProducto" required>
        <br>
        <label for="precioProducto">Precio:</label>
        <input type="number" name="precioProducto" id="precioProducto" required>
        <br>
        <label for="descripcionProducto">Descripción:</label>
        <textarea name="descripcionProducto" id="descripcionProducto" required></textarea>
        <br>
        <label for="imagenProducto">Imagen:</label>
        <input type="file" name="imagenProducto" id="imagenProducto">
        <br>
        <button type="submit">Actualizar producto</button>
    </form>

    <h1></h1>
    <!--para modificar el html y la forma en la que se ve se tiene que hacer desde el JS investigue como hacerlos-->
    <form id="listarProducto">

    </form>
    

    <script src="static/assets/js/listar.js"></script>
</body>
</html>